main .container {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* Experiences */
.experiences {
  display: flex;
  flex-direction: column;
}

.experience {
  display: flex;
  /* By default, every experience is in column-reverse order */
  flex-direction: column-reverse;
  margin-top: 2em;
  gap: 2em;
}

/* Then we override it by saying every other is regular column. 
This is necessary since the image and text comes in different 
orders for every item. */
.experience:nth-child(2n) {
  flex-direction: column;
}

/* Larger screens */
@media (min-width: 600px) {
  .experience {
    flex-direction: row !important;
  }

  .experience > * {
    flex: 1 1 50%;
  }
}
