main .container {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* Experiences */
.experiences {
  display: flex;
  flex-direction: column;
}

.experience {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  gap: 2em;
}

/* Larger screens */
@media (min-width: 600px) {
  /* By default, every experience is in row order */
  .experience {
    flex-direction: row;
  }

  /* Then we override it by saying every other is row-reverse. 
  This is necessary to get the look we want */
  .experience:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .experience > * {
    flex: 1 1 50%;
  }
}
