/* Hero unit */
.hero {
  background: var(--clr-primary);
  padding: 5rem 0;
}

.hero .inner-container {
  max-width: 50ch;
}

.hero h2 {
  color: white;
  margin-top: 0.5em;
}

.hero p {
  margin-top: 2em;
  padding: 2em 0;
  border-top: 2px solid black;
}

.hero .button {
  display: block;
}

/* My skills */
.my-skills {
  padding: 5rem 0;
}

.my-skills .card-container {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1em;
}

.my-skills .card {
  background-image: var(--image-url);
  background-color: var(--clr-primary);
  background-blend-mode: multiply;
  color: white;
  padding: 1em;
  transition: all 200ms ease-in-out;
}

.my-skills .card:hover {
  transform: scale(1.1);
}

/* Larger screens */
@media (min-width: 500px) {
  .hero {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .hero .button {
    display: inline;
  }
}
