*:focus {
  outline: 3px dashed black;
  outline-offset: 5px;
}

p {
  margin-top: 1em;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: all 100ms ease-in;
}

a:hover {
  text-shadow: var(--text-shadow);
}
