/* Global */
p {
  margin-top: 1em;
}

body {
  color: var(--clr-text);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
  text-shadow: var(--text-shadow);
}

/* Form elements */
form textarea,
form input {
  border: 1px solid var(--clr-primary);
}

*:focus {
  outline: 3px dashed black;
  outline-offset: 5px;
}

/* Header */
header {
  background: var(--clr-primary-dark);
}

header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

header .avatar-container {
  display: flex;
  align-items: center;
}

header .avatar-container img {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
}

header .avatar-container .my-portfolio {
  display: none;
}

header .avatar-container {
  font-style: italic;
}

header ul {
  display: flex;
  margin-right: -2rem;
}

header ul a {
  padding: 1em 0.75em;
}

/* Footer */
footer {
  background: #da422a;
  padding: 2em 0;
}

footer small {
  display: block;
  border-top: 2px solid black;
  margin-top: 1em;
  padding-top: 1em;
}

/* Useful classes */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2rem;
}

.button {
  padding: 0.75em 1.5em;
  background: hsl(9, 75%, 45%);
  color: white;
  border: 1px solid transparent;
  font-weight: 600;
}

.button:hover {
  background: hsl(9, 75%, 42%);
}

.avatar {
  object-fit: cover;
  object-position: top;
  border-radius: 100%;
  border: 1px solid white;
}

.shadow {
  box-shadow: var(--box-shadow);
}

.text-shadow {
  text-shadow: var(--text-shadow);
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Larger screens */
@media (min-width: 500px) {
  header .avatar-container .my-portfolio {
    display: inline;
    letter-spacing: 0.3em;
    color: white;
  }

  header ul a {
    padding: 1.5em 1em;
  }
}
