/* Global reset */
* {
  box-sizing: border-box;
}

body,
ul,
h1,
h2,
h3,
p,
figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

/* Form elements reset */
form textarea,
form input {
  border: 0;
}

form textarea {
  resize: none;
}

/* Non-keyboard navigation styling. Should not break accessibility. */
*:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}
