/* Global reset */
* {
  box-sizing: border-box;
}

body,
ul,
h1,
h2,
h3,
p,
figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

/* Form elements reset */
textarea,
input {
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

textarea {
  resize: none;
}
